.demand-line-th {
    background-color: black;
    color: white;
}

.demand-line-th,
.demand-line {
    display: grid;
    grid-template-columns: 50px 1fr 230px;
    min-height: 2.5rem;
    align-content: center;
    cursor: pointer;
}

.demand-line {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 7px 0 rgba(0, 0, 0, 0.19);
    margin: 10px 0;
    border-radius: 1rem;
}

.demand-line:hover {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 10px 0 rgba(38, 150, 224, 0.19);
}

.demand-line-no {
    justify-self: center;
}