.component-container {
    display: grid;
    align-items: center;
    height: 100vh;
}

.component-holder {
    display: grid;
    border-radius: 10px;
    justify-self: center;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 7px 0 rgba(0, 0, 0, 0.19);
    width: 75vw;
    padding: 10px;
    min-width: 290px;
}

.component-form {
    display: grid;
    margin-top: 30px;
    justify-self: center;
    width: 65vw;
    min-width: 230px;
}

.error {
    justify-self: end;
    color: red;
    font-size: small;
}

.component-form span:last-of-type {
    display: grid;
    margin-top: 30px;
    grid-auto-flow: column;
    align-items: center;
}

.component-form span:last-of-type>i {
    font-style: normal;
    color: #0D9D0A;
    font-size: 1em;
    justify-self: start;
}

.component-form span:last-of-type>i:hover {
    transition: 0.2s;
    background-color: #0D9D0A;
    color: white;
    width: 100px;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
    cursor: context-menu;
}

.component-form span:last-of-type>button {
    background-color: white;
    border: 1px solid #0D9D0A;
    color: #0D9D0A;
    border-radius: 5px;
    padding: 5px;
    transition: 0.4s;
    justify-self: end;
    width: 100px;
}

.component-form span:last-of-type>button:hover {
    background-color: #0D9D0A;
    color: white;
}

.component-form span:last-of-type>button:focus {
    outline: none;
}

@media only screen and (min-width: 800px) {
    .component-holder {
        width: 40vw;
    }
    .component-form {
        width: 30vw;
        margin-top: 50px;
        justify-self: center;
    }
    .component-form span:last-of-type {
        margin-top: 50px;
    }
}